env
build
dist
cof_dev_db
cof_dev_dolt
*.egg-info
__pycache__
*.swp
*.pyc
*.db
node_modules
cloud_on_film/static/jquery-ui.js
cloud_on_film/static/bootstrap-tagsinput.css
cloud_on_film/static/jstree
thumbnails
*.min.js
*.min.css
instance/*
!instance/.keep
!instance/*.dist
