env
__pycache__
*.swp
*.pyc
*.db
node_modules
src/static/jquery-ui.js
src/static/bootstrap-tagsinput.css
src/static/jstree
thumbnails
*.min.js
*.min.css
src/instance/*
!src/instance/.keep
!src/instance/*.dist
