<!doctype HTML>
<html>
<head>
<title>{{ title }}</title>
{% block scripts %}{% endblock %}
</head>
<body>

<div>
 <h1>{{ title }}</h1>

{% with flashes = get_flashed_messages() %}
{% if flashes %}
<ul class="flashes">
{% for flashed in flashes %}
<li class="flash">{{ flashed }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

<nav class="nav libraries">
{% with libraries = enumerate_libs() %}
<ul>
{% for lib in libraries %}
<li><a href="{{ url_for( 'cloud_libraries', machine_name='x', relative_path='y' ) }}/{{ lib.machine_name }}">{{ lib.display_name }}</a></li>
{% endfor %}
</ul>
{% endwith %}
</nav>

</div>

<div id="content">
{% block content %}{% endblock %}
</div>

</body>
</html>
