<!doctype HTML>
<html>
<head>
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" />
<script type="text/javascript">var flaskRoot = "{{ url_for( 'cloud_root' ) }}";</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{{ url_for( 'static', filename='sidebar.js' ) }}"></script>
<link rel="stylesheet" href="{{ url_for( 'static', filename='style.css' ) }}" />
{% block scripts %}{% endblock %}
</head>
<body class="h-100 bg-dark">

{% if not no_sidebar %}
<div id="sidebar" class="sidebar h-100 bg-secondary">
<a id="sidebar-toggle" href="#"></a>
<div id="sidebar-inner">
{% block sidebar %}
<h2>Libraries</h2>
{% with libraries = library_enumerate_all() %}
<ul class="libraries">
{% for lib in libraries %}
{% if lib.machine_name == library_name %}
<li class="active">
{% else %}
<li>
{% endif %}
<a href="{{ url_for( 'cloud_libraries', machine_name=lib.machine_name, relative_path=None ) }}">{{ lib.display_name }}</a>
</li>
{% endfor %}
</ul>
{% endwith %} <!-- /libraries -->

<h2>Tags</h2>
{% if not tag_roots is defined %}
{% set tag_roots = tag_enumerate_roots() %}
{% endif %}
<ul class="tags">
{% for tag_root_iter in tag_roots %}
    <li>
    <a href="">{{ tag_root_iter.display_name }}</a>
    <ul>
    {% for tag_child in tag_root_iter.children %}
    <li>
        {% if tag_child == this_tag %}
        <p class="strong">{{ tag_child.display_name }}</p>
        <ul class="tags">
        {% for tag_grandchild in tag_child.children %}
        <li class="active"><a href="">{{ tag_grandchild.display_name }}</li>
        {% endfor %}
        </ul>
        {% else %}
        <a href="{{ url_for( 'cloud_tags', path=tag_child.path ) }}"">{{ tag_child.display_name }}</a>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
{% endblock %}
</div>
</div>
<div id="sidebar-resize"></div>

<div id="main">
{% endif %}{# /no_sidebar #}

<div class="container">

<div class="row">
<h1>{{ title }}</h1>
{% with flashes = get_flashed_messages() %}
{% if flashes %}
<ul class="flashes">
{% for flashed in flashes %}
<li class="flash">{{ flashed }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

</div> <!-- /row -->

{% block content %}{% endblock %}

</div> <!-- /container -->

{% if not no_sidebar %}
</div> <!-- /main -->
{% endif %}{# /no_sidebar #}

</body>
</html>
