<!doctype HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <script type="text/javascript">
    var flaskRoot = "{{ url_for( 'cloud_root' ) }}";
    //var csrfToken = $('meta[name=csrf-token]').attr( 'content' );
    var csrfToken = "{{ csrf_token() }}";
    var currentUID = {{ user_current_uid() }};
    </script>
    <script src="{{ url_for( 'static', filename='jquery.min.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='jquery-ui.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='popper.min.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='bootstrap.min.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='base.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='search.js' ) }}"></script>
    <link rel="stylesheet" href="{{ url_for( 'static', filename='base.min.css' ) }}" />
    <link rel="stylesheet" href="{{ url_for( 'static', filename='bootstrap.min.css' ) }}" />
    <link rel="stylesheet" href="{{ url_for( 'static', filename='bootstrap-custom.css' ) }}" />
    <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css' ) }}" />
    {% if include_scripts is defined %}
    {% for script_iter in include_scripts %}
    <script src="{{ script_iter }}"></script>
    {% endfor %}
    {% else %}
    {% block scripts %}{% endblock %}
    {% endif %}
</head>
<body class="h-100 bg-dark text-light">

<div class="modal fade" id="promptModal" role="dialog">
    <div class="modal-dialog modal-s modal-dialog-centered">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
            </div>
            <div class="modal-body">
                <p class="prompt-text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">xxx</button>
                <button type="button" class="btn btn-secondary">xxx</button>
            </div>
        </div>
    </div>
</div>

{% block modals %}{% endblock %}

<nav class="navbar sticky-top navbar-expand-md navbar-nav d-flex flex-row flex-wrap navbar-dark px-4 bg-light">
    <div class="d-flex flex-row flex-grow-1 flex-md-grow-0" id="navbar-content">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-libraries" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Navigation
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbar-dropdown-libraries">
                    <h6 class="dropdown-header">Libraries</h6>
                    {% with libraries = library_enumerate_all( user_current_uid() ) %}
                    {% for lib in libraries %}
                    <a class="dropdown-item text-white" href="{{ url_for( 'cloud_libraries', machine_name=lib.machine_name, relative_path=None ) }}">{{ lib.display_name }}</a>
                    {% endfor %}
                    {% endwith %} <!-- /libraries -->
                    {% block dropdown %}
                    {% endblock %}
                    <h6 class="dropdown-header">Saved Searches</h6>
                    {% for search in saved_search_enumerate_user( user_current_uid() ) %}
                    <!-- d-flex and ml-auto keep icons aligned to the right. -->
                    <div class="dropdown-item d-flex">
                        <a class="text-white mr-4" href="{{ url_for( 'cloud_items_search_saved', search_id=search.id ) }}">{{ search.display_name }}</a>
                        <a class="text-white ml-auto align-self-center trash" onclick="return promptDeleteSearch( '{{ search.display_name }}', {{ search.id }} )" href="{{ url_for( 'cloud_items_search_delete', search_id=search.id ) }}"></a>
                    </div>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <button class="navbar-toggler px-0 ml-auto d-flex d-md-none" data-toggle="collapse" data-target="#navbar-collapsible-content">
            <span class="sidebar-toggle-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapsible-content">
        <ul class="navbar-nav">
            {% block sidebar_collapsed %}
            {% endblock %}
        </ul>
    </div>
    <!-- Force module-specific stuff to next row. -->
    <div class="w-100 navbar-collapse"></div>
    {% block sidebar %}
    {% endblock %}
</nav>

<!-- <div id="sidebar-resize" class="d-none d-md-block"></div> -->

<main id="main" class="">

    <div class="container">

        <div class="row">
        <!-- <h1 it="page-title">{{ title }}</h1> -->
        {% with flashes = get_flashed_messages() %}
        {% if flashes %}
        <ul class="flashes">
        {% for flashed in flashes %}
        <li class="flash">{{ flashed }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        </div> <!-- /row -->

        {% if include_content is defined %}
        {% include include_content %}
        {% else %}
        {% block content %}{% endblock %}
        {% endif %}

    </div> <!-- /container -->

</main> <!-- /main -->

</body>
</html>
