
<div class="w-100 mx-2 d-flex flex-wrap browser-field-{{ field_uuid }}">
    <div class="d-flex w-100">
        <input type="text" class="form-control flex-fill" name="{{ field_name }}" id="{{ field_name }}" value="{{ field_data }}" />
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
            data-toggle="collapse" data-target="#tree-collapse-{{ field_uuid }}">
            <span class="sr-only">Open Tree Browser</span>
        </button>
    </div>
    <div id="tree-collapse-{{ field_uuid }}" class="collapse w-100">
        <div id="{{ field_name }}-tree" class="w-100 overflow-auto"></div>
        <div class="d-flex">
            <button type="button" class="btn btn-secondary ml-auto">Cancel</button>
            <button type="button" class="btn btn-primary ml-1">Select Folder</button>
        </div>
    </div>
</div>
<script type="text/javascript">
$().ready( function() {
    $('.browser-field-{{ field_uuid }} #{{ field_name }}-tree').enableBrowserTree( "{{ browser_url }}", [1] );
} );
</script>
