{% extends 'base.html.j2' %}

{% block scripts %}
<script type="text/javascript">

var thread_id = '{{ id }}';
var last_progress = 0;

function updateProgress() {
    $.post( "{{ url_for( 'cloud_libraries_upload', id=id ) }}",
    function( data ) {
        $('#current-filename').html( data['filename'] );
        if( data['progress'] != last_progress ) {
            $('#thread-progress')
                .css( { 'width': data['progress'] + '%' } );
        }
        last_progress = data['progress'];
        setTimeout( updateProgress, 1000 );
    } );
}

$().ready( function() {
    updateProgress();
} );

</script>
{% endblock %}

{% block content %}

{% if '' != id %}
<div class="py-3">
<div class="progress">
<div id="thread-progress" class="progress-bar" role="progressbar"
    style="width: 0"></div>
 </div>
 <div id="current-filename"></div>
</div>
{% else %}
<form action="" method="POST" enctype="multipart/form-data">
{{ form.hidden_tag() }}
<div id="upload_library">
{{ form.upload.label }}
{{ form.upload }}
</div>
<input type="submit" value="Upload" />
</div>
</form>
{% endif %}

{% endblock %}

