
{% from 'macros.html.j2' import show_form %}

<div class="container vh-100">
    <div class="row h-100">
        <div class="col-md-4 d-flex flex-column">
            <div id="form-edit-preview" class="mb-auto"></div>
            <p id="form-edit-type"></p>
        </div>
        {{ show_form( rename_form, id='form-edit', class='col-md-4' ) }}
        <div id="form-edit-tree" class="col-md-4 h-100 overflow-auto">
        </div>
    </div>
</div>
