
{% from 'macros.html.j2' import show_form %}

<div class="container">
    <div class="row">
        <div id="modal-form-preview" class="col-md-4 d-flex flex-column">
            <div id="modal-form-preview-img" class="mb-auto"></div>
            <p id="modal-form-type"></p>
        </div>
        {{ show_form( rename_form, id='modal-form-rename', class='col-md-4' ) }}
        <div id="modal-form-tree" class="col-md-4">
            <div id="modal-input-move"></div>
        </div>
    </div>
</div>
