{% extends 'base.html.j2' %}

{% from 'macros.html.j2' import show_form %}

{% block content %}

<form action="{{ url_for( 'libraries.delete_search', search_id=search.id ) }}" method="POST">
{{ show_form( delete ) }}
</form>

{% endblock %}

