{% extends 'base.html' %}

{% block scripts %}
<script type="text/javascript">
var page = {{ page }};
{% if this_folder %}
var folderID = {{ this_folder.id }};
var scrollURL = flaskRoot + 'ajax/html/items/%folder%/%page%';
var scrollMethod = 'GET';
var scrollDataCallback = null;
{% endif %}
</script>
<link rel="stylesheet" href="{{ url_for( 'static', filename='bootstrap-tagsinput.css' ) }}" />
<link rel="stylesheet" href="{{ url_for( 'static', filename='featherlight.min.css' ) }}" />
<link rel="stylesheet" href="{{ url_for( 'static', filename='featherlight.gallery.min.css' ) }}" />
<link rel="stylesheet" href="{{ url_for( 'static', filename='gallery.css' ) }}" />
<link rel="stylesheet" href="{{ url_for( 'static', filename='jstree/style.min.css' ) }}" />
<script src="{{ url_for( 'static', filename='typeahead.bundle.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='bootstrap-tagsinput.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='jquery.unveil2.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='jstree.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='featherlight.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='featherlight.gallery.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='libraries.js' ) }}"></script>
{% endblock %}

{% block modals %}
<div class="modal fade" id="editModal" role="dialog">
<div class="modal-dialog modal-lg modal-dialog-centered">
   <div class="modal-content bg-dark">
      <div class="modal-header">
         <h5 class="modal-title">Edit</h5>
      </div>
      <div class="modal-body">
         <div class="container">
         <div class="row">
            <div id="modal-form-preview" class="col-md-4">
            </div>
            <!-- <form id="modal-form-rename" class="col-md-4">
               <div class="form-group">
                  <label for="modal-input-name">Name</label>
                  <input type="text" id="modal-input-name" name="name" class="form-control" />
               </div>
               <div class="form-group">
                  <label for="modal-input-tags">Tags</label>
                  <input type="text" id="modal-input-tags" name="tags" class="form-control" />
               </div>
               <div class="form-group">
                  <label for="modal-input-comment">Comment</label>
                  <textarea id="modal-input-comment" name="comment" class="form-control"></textarea>
                  <input type="hidden" id="modal-id" name="id" value="" />
               </div>
            </form> -->
            {{ show_form( rename_form, id='modal-form-rename', class_str='col-md-4' ) }}
            <div id="modal-form-tree" class="col-md-4">
               <div id="modal-input-move"></div>
            </div>
         </div>
         </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-primary" onclick="return saveRename()">Save Changes</button>
      </div>
   </div>
</div>
</div>
{% endblock %}

{% block content %}

<div id="libraries-folders" class="w-100 py-3 row">

<!-- TODO: This should go on files page.
<ul class="nav nav-tabs">
   <li class="nav-item">
{% if 'folders' == categories %}
      <a id="nav-folders" class="nav-link active" href="{{ url_self( categories='folders' ) }}">
{% else %}
      <a id="nav-folders" class="nav-link" href="{{ url_self( categories='folders' ) }}">
{% endif %}
         Folders</a>
   </li>
   <li class="nav-item">
{% if 'tags' == categories %}
      <a id="nav-tags" class="nav-link active" href="{{ url_self( categories='tags' ) }}">
{% else %}
      <a id="nav-tags" class="nav-link" href="{{ url_self( categories='tags' ) }}">
{% endif %}
         Tags</a>
   </li>
</ul>
-->

<ul class="libraries-folders-inner">
{% if this_folder %}
<li class="libraries-folder libraries-parent-folder">
{% if this_folder.parent %}
<a href="{{ url_for( 'cloud_libraries', machine_name=this_folder.library.machine_name, relative_path=None ) }}/{{ this_folder.parent.path }}">
..
</a>
{% else %}
<a href="{{ url_for( 'cloud_libraries', machine_name=this_folder.library.machine_name, relative_path=None ) }}">
..
</a>
{% endif %}
</li>
{% endif %}
{% for item in folders %}
<li class="libraries-folder">
<a href="{{ url_for( 'cloud_libraries', machine_name=item.library.machine_name, relative_path=None ) }}/{{ item.path }}">
{{ item.name }}
</a></li>
{% endfor %}
</ul>
</div> <!-- /row -->

<div id="folder-items" class="row folder-{{ this_folder.id }}{{ items_classes }}">
{% for item in items %}
{{ item.library_html()|safe }}
{% endfor %}
</div> <!-- /row -->

{% endblock %}
