{% extends 'base.html' %}

{% block scripts %}
<link rel="stylesheet" href="{{ url_for( 'static', filename='bootstrap-tagsinput.css' ) }}" />
<link rel="stylesheet" href="{{ url_for( 'static', filename='featherlight.min.css' ) }}" />
<link rel="stylesheet" href="{{ url_for( 'static', filename='featherlight.gallery.min.css' ) }}" />
<link rel="stylesheet" href="{{ url_for( 'static', filename='gallery.css' ) }}" />
<script src="{{ url_for( 'static', filename='typeahead.bundle.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='bootstrap-tagsinput.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='jquery.unveil2.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='featherlight.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='featherlight.gallery.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='libraries.js' ) }}"></script>
{% endblock %}

{% block modals %}
<div class="modal fade" id="editModal" role="dialog">
<div class="modal-dialog modal-dialog-centered">
   <div class="modal-content bg-dark">
      <div class="modal-header">
         <h5 class="modal-title">Edit</h5>
      </div>
      <div class="modal-body">

         <div id="modal-input-tags">
         <input type="text" />
         </div>

      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary">Save Changes</button>
      </div>
   </div>
</div>
</div>
{% endblock %}

{% block content %}

<div id="libraries-folders" class="w-100 py-3 row">

<!-- TODO: This should go on files page.
<ul class="nav nav-tabs">
   <li class="nav-item">
{% if 'folders' == categories %}
      <a id="nav-folders" class="nav-link active" href="{{ url_self( categories='folders' ) }}">
{% else %}
      <a id="nav-folders" class="nav-link" href="{{ url_self( categories='folders' ) }}">
{% endif %}
         Folders</a>
   </li>
   <li class="nav-item">
{% if 'tags' == categories %}
      <a id="nav-tags" class="nav-link active" href="{{ url_self( categories='tags' ) }}">
{% else %}
      <a id="nav-tags" class="nav-link" href="{{ url_self( categories='tags' ) }}">
{% endif %}
         Tags</a>
   </li>
</ul>
-->

<ul class="libraries-folders-inner">
{% if this_folder %}
<li class="libraries-folder libraries-parent-folder">
<a href="{{ url_for( 'cloud_libraries', machine_name=this_folder.library.machine_name, relative_path=None ) }}/{{ this_folder.path }}">
..
</a></li>
{% endif %}
{% for item in folders %}
<li class="libraries-folder">
<a href="{{ url_for( 'cloud_libraries', machine_name=item.library.machine_name, relative_path=None ) }}/{{ item.path }}">
{{ item.display_name }}
</a></li>
{% endfor %}
</ul>
</div> <!-- /row -->

<div id="pictures" class="row">
{% for item in pictures %}
{% if item.filetype == 'picture' %}
<div class="col-md-2 col-sm-4 coll-xs-6 px-0 card bg-secondary">

{% set img_href = url_for(
   'cloud_libraries', machine_name=item.folder.library.machine_name,
   relative_path=None ) + '/' + item.path %}
<div class="px-0 py-0 libraries-thumbnail-wrapper"
   data-src="{{ url_for( 'cloud_plugin_preview', file_id=item.id ) }}">
<a href="{{ img_href }}" class="thumbnail"
   data-fullsize="{{ url_for( 'cloud_plugin_fullsize', file_id=item.id ) }}">
<noscript>
<img
   class="img-responsive libraries-thumbnail"
   src="{{ url_for( 'cloud_plugin_preview', file_id=item.id ) }}"
   alt="{{ item.display_name }}" />
</noscript>
</a>
</div> <!-- /libraries-thumbnail-wrapper -->

<form action="{{ url_for( 'cloud_edit_filedata' ) }}" method="POST"
   class="container-fluid d-flex flex-column flex-grow-1">

<div class="card-body container-fluid d-flex flex-column flex-grow-1 w-100 px-0">

<!-- body text -->
<h3 class="card-title d-flex flex-column">{{ item.display_name }}</h3>
<p class="card-text d-flex flex-column flex-grow-1">
{{ item.comment }}
</p>

<!-- button bar -->
<div class="d-flex flex-column">
{% if item.nsfw %}
<small class="text-muted nsfw">
NSFW
</small>
{% endif %}
{% if item.meta( 'aspect' ) %}
<small class="text-muted aspect-ratio">
{{ item.meta( 'aspect' ) }}
</small>
{% endif %}
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" data-file-id="{{ item.id }}">Edit</button> -->
<a href="#" onclick="return renameItem( {{ item.id }} );">Edit</a>
<small class="rating">
{% for i in range( 5 ) %}
<a href="#" class="star star-{{ i }}"
{% if i < item.meta_int( 'rating', default=0 ) %}
   style="background-image: url( {{ url_for( 'static', filename='star-gold-32.png' ) }} )"
{% else %}
   style="background-image: url( {{ url_for( 'static', filename='star-gray-32.png' ) }} )"
{% endif %}
>
</a>
{% endfor %}
</small>
</div>

</div> <!-- /card-body -->

</form>
</div> <!-- /card -->
{% endif %}
{% endfor %}
</div> <!-- /row -->

{% endblock %}
