{% extends 'base.html.j2' %}

{% block scripts %}
<script type="text/javascript">
{% if page is defined %}
var page = {{ page }};
{% endif %}
{% if this_folder is defined and this_folder %}
var folderID = {{ this_folder.id }};
var scrollURL = flaskRoot + 'ajax/html/items/%folder%/%page%';
var scrollArgsCallback = null;
var scrollDataCallback = null;
var scrollMethod = 'GET';
{% else %}
var folderID = -1;
var scrollURL =  flaskRoot + 'ajax/html/search';
var scrollArgsCallback = searchArgs;
var scrollDataCallback = null;
var scrollMethod = 'GET';
{% endif %}
</script>
<script src="{{ url_for( 'static', filename='typeahead.bundle.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='bootstrap-tagsinput.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='jquery.unveil2.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='jstree.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='featherlight.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='featherlight.gallery.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='libraries.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='edit-item.js' ) }}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for( 'static', filename='bootstrap-tagsinput.css' ) }}" />
<link rel="stylesheet" href="{{ url_for( 'static', filename='featherlight.min.css' ) }}" />
<link rel="stylesheet" href="{{ url_for( 'static', filename='featherlight.gallery.min.css' ) }}" />
<link rel="stylesheet" href="{{ url_for( 'static', filename='gallery.css' ) }}" />
<link rel="stylesheet" href="{{ url_for( 'static', filename='jstree/style.min.css' ) }}" />
{% endblock %}

{% block modals %}
<div class="modal fade" id="editModal" role="dialog">
<div class="modal-dialog modal-lg modal-dialog-centered">
   <div class="modal-content bg-dark">
      <div class="modal-header">
         <h5 class="modal-title">Edit</h5>
      </div>
      <div class="modal-body">
         {% include 'form_edit.html.j2' %}
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="return saveRename()">Cancel</button>
         <button type="button" class="btn btn-primary" onclick="return saveRename()">Save Changes</button>
      </div>
   </div>
</div>
</div>
{% endblock %}

{% block sidebar %}
<div style="display: none" id="form-edit-checked-items">
<button class="btn btn-primary">Edit</button>
</div>
{% endblock %}

{% from 'macros.html.j2' import show_form %}

{% block sidebar_collapsed %}
<li class="nav-item">
   {# h-50 and d-flex keep groups v-aligned inside of menus. #}
   {{ show_form( search_form, id="search-query", class="form-inline", group_class="form-group h-50 d-flex", method='GET', action=url_for( 'cloud_items_search' ), enable_csrf=False ) }}
</li>
{% endblock %}

{% block content %}

{% if save_search_form is defined %}
<div class="row">
   <div id="save-search-wrapper" class="bg-secondary col-9 p-4 mx-auto my-3 rounded">
      {{ show_form( save_search_form, id="save-search-query", action=url_for( 'cloud_items_search_save' ) ) }}
   </div>
</div>
{% endif %}

{% if folders %}

{% if 0 >= items|length or 1 == folders|length or not this_folder is defined or not this_folder %}
{% set folders_classes=' show' %}
{% endif %}

<nav class="w-100 py-3 row navbar-dark bg-dark">
   <button class="navbar-toggler" data-toggle="collapse" data-target="#libraries-folders">
      <span class="sidebar-toggle-icon"></span> Folders
   </button>
   <div id="libraries-folders" class="collapse navbar-collapse w-100{{ folders_classes }}">
      <ul class="libraries-folders-inner">
         {% if this_folder %}
         <li class="libraries-folder libraries-parent-folder">
         {% if this_folder.parent %}
         <a href="{{ url_for( 'cloud_libraries', machine_name=this_folder.library.machine_name, relative_path=None ) }}/{{ this_folder.parent.path }}">
         ..
         </a>
         {% else %}
         <a href="{{ url_for( 'cloud_libraries', machine_name=this_folder.library.machine_name, relative_path=None ) }}">
         ..
         </a>
         {% endif %}
         </li>
         {% endif %}
         {% for item in folders %}
         <li class="libraries-folder">
         <a href="{{ url_for( 'cloud_libraries', machine_name=item.library.machine_name, relative_path=None ) }}/{{ item.path }}">
         {{ item.name }}
         </a></li>
         {% endfor %}
      </ul>
   </div>
</nav> <!-- /row -->

{% endif %}

{% if this_folder is defined and this_folder %}
{% set items_classes = items_classes + ' folder-{{ this_folder.id }}' %}
{% endif %}

<form>
<div id="folder-items" class="row justify-content-center{{ items_classes }}">
{% for item in items %}
{{ item.library_html()|safe }}
{% endfor %}
{% for i in range( 20 ) %}
<div class="card-h-spacer"></div>
{% endfor %}
</div> <!-- /row -->
</form>

{% endblock %}
