
<h2>Tags</h2>
{% if not tag_roots is defined %}
{% set tag_roots = tag_enumerate_roots() %}
{% endif %}
<ul class="tags">
{% for tag_root_iter in tag_roots %}
    <li>
    <a href="">{{ tag_root_iter.name }}</a>
    <ul>
    {% for tag_child in tag_root_iter.children %}
    <li>
        {% if tag_child == this_tag %}
        <p class="strong">{{ tag_child.name }}</p>
        <ul class="tags">
        {% for tag_grandchild in tag_child.children %}
        <li class="active"><a href="">{{ tag_grandchild.name }}</li>
        {% endfor %}
        </ul>
        {% else %}
        <a href="{{ url_for( 'cloud_tags', path=tag_child.path ) }}"">{{ tag_child.name }}</a>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
