{% extends 'base.html.j2' %}

{% block content %}

<img
   class="img-responsive"
   src="{{ url_for( 'cloud_plugin_fullsize', file_id=file_item.id ) }}"
   alt="{{ file_item.display_name }}"
/>

{% endblock %}
