
#folder-items .card {
   max-width: 160px !important;
   min-width: 160px;
   overflow: hidden;
}

.libraries-folder {
   background: url( 'folder-open-32.png' ) no-repeat;
   display: inline-block;
   padding: 8px 8px 8px 40px;
   list-style-type: none;
}

.libraries-thumbnail {
   margin: 0 auto;
   width: 160px;
   height: 120px;
}

.libraries-thumbnail-wrapper {
   width: 160px;
   height: 120px;
}

.libraries-thumbnail-wrapper a {
   display: block;
   width: 160px;
   height: 120px;
}

.star {
   background-size: 100%;
   display: inline-block;
   width: 16px;
   height: 16px;
}

.star-on {
   background-image: url( star-gold-32.png );
}

.star-off {
   background-image: url( star-gray-32.png );
}

/*
.bootstrap-tagsinput {
   width: 100%;
}
*/

.card-h-spacer {
   width: 160px;
   height: 0;
}

.tt-menu {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 14px;
   background-color: #ffffff;
   border: 1px solid #cccccc;
   border: 1px solid rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
   background-clip: padding-box;
   cursor: pointer;
}

.tt-suggestion {
   display: block;
   padding: 3px 20px;
   clear: both;
   font-weight: normal;
   line-height: 1.428571429;
   color: #333333;
   white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
 color: #ffffff;
 text-decoration: none;
 outline: 0;
 background-color: #428bca;
}

#modal-input-move {
   height: 390px;
   overflow: scroll;
}
