
#pictures .card-title {
   font-size: 0.8em !important;
   font-weight: bold;
}

#pictures .card {
   max-width: 160px !important;
   overflow: hidden;
}

#pictures form {
   /* max-width: 120px !important; */
}

.libraries-folder {
   background: url( 'folder-open-32.png' ) no-repeat;
   display: inline-block;
   padding: 8px 8px 8px 40px;
   list-style-type: none;
}

.libraries-thumbnail {
   margin: 0 auto;
   width: 160px;
   height: 120px;
}

.libraries-thumbnail-wrapper {
   width: 160px;
   height: 120px;
}

.libraries-thumbnail-wrapper a {
   display: block;
   width: 160px;
   height: 120px;
}

.star {
   background-size: 100%;
   display: inline-block;
   width: 16px;
   height: 16px;
}
