
.aspect-ratio {
    background-image: url( 'aspect-ratio-32.png' );
    background-size: 16px;
    background-repeat: no-repeat;
    padding-left: 16px;
}

#sidebar-toggle {
    background-image: url( 'arrow-right-32.png' );
    display: inline-block;
    width: 32px;
    height: 32px;
}
